# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3
/staticfiles/
/media/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
